<div class="view">
    <h1>View works</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, id nemo optio, sapiente aut harum ad non perferendis tempore eius totam unde expedita, sed maxime libero fugiat quibusdam eaque dolore! Non, dolorum! Cupiditate saepe error ad quo, illum aperiam tempore corrupti unde magni odio deleniti eum distinctio dignissimos consequuntur corporis nobis nemo officia repellendus perspiciatis ab consequatur, animi deserunt nulla iste. Quos minus unde adipisci dolor quibusdam a nobis, excepturi repellat nemo, sunt rerum quam accusamus ipsam eius voluptatum? Soluta excepturi blanditiis nisi animi exercitationem, nulla beatae qui quidem hic sunt incidunt non modi molestias voluptatum iusto eos numquam dolores!</p>
</div>
