<div style="background-color: #e2e2e2;">
    <h1> Home works</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, saepe fuga. Sapiente tempora magni perferendis cumque, nam temporibus quisquam ipsa debitis nesciunt, alias assumenda ducimus, harum voluptatum quia odio aperiam unde totam mollitia nobis in odit necessitatibus. Maiores, voluptate maxime quae ea beatae aspernatur sint fugit qui voluptatibus et nemo, laudantium reprehenderit doloribus, nobis dolorum quam dolore ad eius! Totam dolorem deserunt minus saepe quisquam, eius et commodi at sed, corporis eum quos hic, cupiditate ipsam temporibus? Iste est assumenda pariatur laboriosam vero velit quas, sapiente quis, eveniet molestias dolor voluptatibus iure labore ratione aspernatur consectetur tempore dignissimos asperiores id?</p>    
</div>
